<p-toast></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toolbar styleClass="dark-panel" >
    <div class="p-toolbar-group-start">
        <span class="lozenge">K</span>
        <p class="rest-of-label"> amu</p>        
    </div>
    
    <div class="p-toolbar-group-end" >
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="search nfts items" [(ngModel)]="toSearch">
            </span>
        <p-menubar *ngIf="checkVisibility()" [model]="items" styleClass="dark-menu">
        </p-menubar>
    </div>
</p-toolbar>