:host ::ng-deep .dark-panel.p-toolbar {
        background: transparent;
        border: none;
}

:host ::ng-deep .dark-menu.p-menubar {
    background: transparent;
    border: none;
    font-family: 'Robot';
    letter-spacing: 2px;
    font-size: 20px;
    outline: none;
}

.lozenge {
    height: 50px;
    width: 50px;
    line-height: 40px;
    border-radius: 40%;
    background: linear-gradient(135deg, #461944 20%, #2D143B);
    text-align: end;
    padding-right: 8px;
    margin-right: 1px;
    font-family: Sketcomic;
    font-size: 40px;
    font-weight: 400;
    color: #ded0de;
}

.rest-of-label {
    font-family: 'Robot';
    font-size: 30px;
    font-weight: 400;
    color: #ded0de;
}

:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text:hover {
    color: rgb(123, 1, 236);
    text-shadow: rgb(106, 0, 204) 2px 2px 20px ;
}


:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
    box-shadow: none;
}

:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
    font-size: 1.6rem !important;
}

:host ::ng-deep .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon:hover {
    color: rgb(123, 1, 236) !important;
    text-shadow: rgb(106, 0, 204) 2px 2px 20px !important;
}

:host ::ng-deep .p-inputtext {
    width: 20rem;
    height: 2.7rem;
    border-radius: 10px;
    background-color: #ded0de;
    color: #2D143B;
}

:host ::ng-deep .p-inputtext::placeholder {
    color: #2D143B;
    opacity: 0.7;
}

:host ::ng-deep i.pi-search {
    color: #2D143B;
    opacity: 0.6;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content>.p-flex.p-flex-column> .p-text-center{

}
:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content> .p-flex.p-flex-column >.p-grid.p-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content>.p-flex.p-flex-column>.p-grid.p-fluid > div {
    width: 10rem !important;
}