<p-card styleClass="mycard">
    <ng-template pTemplate="header" >
        <div class="banner-header">Discover, and collect</div>
        <div class="banner-header">extraordinary</div>
        <div class="banner-header"><span>monster</span> NFTs</div>
    </ng-template>
    <div class="banner-middle">Marketplace for monster character</div>
    <div class="banner-middle">collections non fungible token</div>
    <ng-template pTemplate="footer">
        <p-button label="Collect now" styleClass="mybutton"></p-button>
    </ng-template>
</p-card>